/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-columns: repeat(4,242.5px);
	grid-template-rows:repeat(5,124px);
	gap:10px;
}
#grid div{
	background-color:green;
}
.a{
	grid-column:span 4/auto;
}
.b{
	
	grid-row:span 4/auto;
}
.c{
	grid-column:span 1/auto;
	
}
.d{
	grid-column:span 2/auto;
}
.e{
	grid-column:span 2/auto;
}
.f{
	grid-column:span 1/auto;
}

.g{
	grid-column:span 1/auto;
}
.h{
	grid-column:span 1/auto;
}
.i{
	grid-column:span 1/auto;
}
.j{
	grid-column:span 3/auto;
}
